@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter/Inter-Bold.ttf");
  font-family: 800;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter/Inter-semiBold.ttf");
  font-family: 600;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter/Inter-Regular.ttf");
  font-family: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter/Inter-light.ttf");
  font-family: 300;
}
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
.box-shadow-edit {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25em 0.25em;
}
.scrollContainer {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollContainer::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollStyle::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.scrollStyle::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

.scrollStyle::-webkit-scrollbar-thumb {
  background: #3f53b6;

}
